#img-bg{
    background-image: url("https://medias.cnnbrasil.com.br/fotografia-do-brasileiro-victor-lima-esta-entre-as-25-melhores-fotos-do-ano.jpeg?format=JPEG&image=https://mediastorage.cnnbrasil.com.br/IMAGES/00/00/03/39216_132E09CF04A2E018.jpg&width=804&height=452&resize=CROP");

    min-height: 695px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}